@import './variables.css';

@font-face {
    font-family: 'Lexend ExtraLight';
    src: url('/fonts/Lexend-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Medium';
    src: url('/fonts/Lexend-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Regular';
    src: url('/fonts/Lexend-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lexend Regular";
    overflow: hidden;
}

.page-container {
    background-color: var(--color-grey);
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

a {
    text-decoration: none;
}